# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# macOS
macos/Pods/
macos/Runner.xcworkspace/

# Android
android/.gradle/
android/app/debug.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# Firebase & Secrets
*.keystore
*.p8
*.pem
*.jks
google-services.json
firebase_options.dart
.env
